{% extends "base.html" %} {% block content %}
<div class="container">
  <h1>{{ welcome_message }}</h1>
  <p>Come and taste the famous Coder's <b>Sushi!</b></p>
  <img
    src="/static/images/Close-up-on-the-deliciously-looking-sushi-plate.jpg"
    alt="Japanese Restaurant"
    class="img-fluid"
  >
  
  <p>
    We are delighted to have you here. Enjoy your visit and feel free to explore
    our offerings.
  </p>
  <p><a href="{% url 'booking_page' %}" class="btn btn-primary">Book Now</a></p>
</div>
{% endblock %}
